<table class="table">
<thead>
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Beschreibung</th>
		<th>&nbsp;</th>
	</tr>
</thead>
<tbody>
	<tr data-ng-if="pack.templates.length == 0">
		<td colspan="4">Bisher wurden keine Templates angelegt</td>
	</tr>
	<tr data-ng-repeat="t in pack.templates">
		<td>&nbsp;</td>
		<td>{{t.name}}</td>
		<td>{{t.description}}</td>
		<td class="tools">
			<a href="javascript:void('');" data-ng-click="focusTemplate(t)" title="Bearbeiten"><span class="fa fa-pencil"></span></a>
			<a href="javascript:void('');" data-ng-click="copyTemplate(t.id)" title="Template kopieren"><span class="fa fa-copy"></span></a>
			<a href="javascript:void('');" data-ng-click="showWidgets(t)" title="Widgets bearbeiten"><span class="fa fa-file-code-o"></span></a>
			<a href="javascript:void('');" data-ng-click="deleteTemplate(t.id)" title="Entfernen"><span class="fa fa-trash-o"></span></a>
		</td>
	</tr>
</tbody>
</table>