<div class="row">
	<div class="col-md-12">
		<h3>Neue Optin Mail anlegen</h3>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
			
			</div>
			<div class="panel-body">
				<form name="optinMailForm">
					<div data-ng-include data-src="'./modules/optin/views/form.html'"></div>
				</form>
			</div>
			
			<div class="panel-footer">
				<div class="pull-right">
					<a href="#/optin" title="Abbrechen" class="btn btn-danger">Abbrechen</a>
					<button class="btn btn-success" data-ng-click="submitAction()" data-ng-disabled="optinMailForm.$invalid">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>