<div class="form-group">
	<label>Name</label>
	<input type="text" data-ng-model="mail.name" class="form-control" placeholder="Name der Optin Mail" required>
</div>
<div class="form-group">	
	<label>Betreff</label>
	<input type="text" data-ng-model="mail.subject" class="form-control" placeholder="Ihre Anmeldung zum Newsletter" required">
</div>
<div class="form-group">
	<label>Absender Name</label>
	<input type="text" data-ng-model="mail.senderName" class="form-control" placeholder="Ihr Firmenname" required>
</div>
<div class="form-group">		
	<label>Absender Adresse</label>
	<input type="email" data-ng-model="mail.senderAddress" class="form-control" placeholder="max@example.com" required>
</div>
<div class="form-group">	
	<label>Antwort Adresse</label>
	<input type="email" data-ng-model="mail.replyAddress" class="form-control" placeholder="max@example.com" required>
</div>
<div class="form-group">	
	<label>Template aus Organisations Einheit</label>
	<div data-ou-selector data-select-as="$parent.owner"></div>
</div>
<div class="form-group">	
	<label>Vorlage</label>
	<select data-ng-model="mail.templateId" class="form-control" data-ng-options="t.id as t.name group by t.pack.name for t in templates" required>
	</select>
</div>