<h3>Einstellungen für {{mailing.subject}}</h3>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-default">
			<div class="panel-heading">
				Absender Daten bearbeiten
			</div>
			<div class="panel-body">
				<form data-role="form">
					<div class="form-group">
						<label>Betreff</label>
						<input type="text" data-ng-model="mailing.subject" class="form-control">
					</div>
					
					<div class="form-group">
						<label>Absender Name</label>
						<input type="text" data-ng-model="mailing.senderName" class="form-control" placeholder="Max Mustermann">
					</div>
					
					<div class="form-group">
						<label>Absender Adresse</label>
						<input type="text" data-ng-model="mailing.senderAddress" class="form-control" placeholder="max@example.com">
					</div>
					
					<div class="form-group">
						<label>Antwort Adresse</label>
						<input type="text" data-ng-model="mailing.replyAddress" class="form-control" placeholder="max@example.com">
					</div>
				</form>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<a href="#/mailings/" class="btn btn-danger">Abbrechen</a>
					<button class="btn btn-success" data-ng-click="updateEnvelope()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="pull-left">
					Verteilerlisten
				</div>
				<div data-ou-selector data-select-as="listOwner" class="pull-right"></div>
				<div class="clearfix"></div>
			</div>
			<div class="panel-body">
				<label class="checkbox" data-ng-repeat="l in sLists.content">
					<input type="checkbox" data-ng-click="toggleSubscriptionList(l.id)" data-ng-checked="isAttached(l.id)"> {{l.name}}
				</label>
			</div>
		</div>
	</div>
</div>