#slider {
	position:absolute;
	width:900px;
	padding:24px;
	margin-left:-915px;
	margin-top:15px;
	visibility:hidden;
	min-height:600px;
	background-color:#fff;
	z-index:9999;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.08);
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.08);
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.08);
}

.bm-fragment-hovered {
	background-color:#aaa;
}
.bm-element-hovered {
	background-color:#ccc;
}

.bm-fragment-focused { 
	outline:1px solid #ed9c28;
}
.bm-element-focused { outline: 1px solid #ed9c28;}

.bm-text-focused { background-color: #ed9c28; }
