<h3>Neuen Template Pack anlegen</h3>
<div class="row">
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">Template Pack</div>
			<div class="panel-body">
				<div data-ng-include data-src="'./js/modules/templates/tmpl/packs/form.html'"></div>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-danger" data-ng-click="dismissForm()">Abbrechen</button>
					<button class="btn btn-success" data-ng-click="savePack()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>