<h3>Neuen Benutzer anlegen</h3>

<div class="row">
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">Benutzer Daten</div>
			<div class="panel-body">
				<div data-ng-include data-src="'./js/modules/security/tmpl/users/form.html'"></div>	
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-danger" data-ng-click="dismissForm()">Abbrechen</button>
					<button class="btn btn-success" data-ng-click="saveUser()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>