<div class="row">
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">Neues Mailing anlegen</div>
			<div class="panel-body">
				<div data-ng-include data-src="'./js/modules/mailing/tmpl/mailing/form.html'"></div>
			</div>
			<div class="panel-footer">
				<div class="pull-right">
					<button class="btn btn-danger" data-ng-click="dismissForm();">Abbrechen</button>
					<button class="btn btn-success" data-ng-click="createMailing()">Speichern</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div>